version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 * *"
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: "cargo"
    directories:
      - "**/*"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 * *"
    groups:
      cargo:
        patterns:
          - "*"
